from rest_framework.decorators import api_view
from rest_framework.response import Response
from rest_framework import status


@api_view(['GET'])
def health_check(request):
    """
    Health check endpoint.
    Returns 200 OK if the service is running.
    """
    return Response({
        'status': 'healthy',
        'service': '{{{projectName}}}-api',
        'version': '1.0.0'
    }, status=status.HTTP_200_OK)
